.swordsman {
  width: 128px;
  height: 128px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("/assets/images/sprites/swordsman/walk.png");
  background-repeat: no-repeat;
  background-color: rgba(90, 90, 90, 0.3);
}
.swordsman1 {
  background-position: 0 0;
}
.swordsman2 {
  background-position: -128px 0;
}
.swordsman3 {
  background-position: -256px 0;
}
.swordsman4 {
  background-position: -384px 0;
}
.swordsman5 {
  background-position: -512px 0;
}
.swordsman6 {
  background-position: -640px 0;
}
.swordsman7 {
  background-position: -768px 0;
}
.swordsman8 {
  background-position: -896px 0;
}

.wizard {
  width: 128px;
  height: 128px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("/assets/images/sprites/wizard/walk.png");
  background-repeat: no-repeat;
  background-color: rgba(90, 90, 90, 0.3);
}
.wizard1 {
  background-position: 0 0;
}
.wizard2 {
  background-position: -128px 0;
}
.wizard3 {
  background-position: -256px 0;
}
.wizard4 {
  background-position: -384px 0;
}
.wizard5 {
  background-position: -512px 0;
}
.wizard6 {
  background-position: -640px 0;
}
.wizard7 {
  background-position: -768px 0;
}
