#game {
  border: 2px solid black;
  width: 800px;
  height: 600px;
  box-shadow: 10px 5px 5px #ccc;
  margin: 0 auto;
  position: relative;
}

.player {
  width: 128px;
  height: 128px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("/assets/images/sprites/archer/walk.png");
  background-repeat: no-repeat;
  background-color: rgba(90, 90, 90, 0.3);
}

.player1 {
  background-position: 0 0;
}
.player2 {
  background-position: -128px 0;
}
.player3 {
  background-position: -256px 0;
}
.player4 {
  background-position: -384px 0;
}
.player5 {
  background-position: -512px 0;
}
.player6 {
  background-position: -640px 0;
}
.player7 {
  background-position: -768px 0;
}
.player8 {
  background-position: -896px 0;
}
